<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd" id="WebApp_ID" version="6.0">
  <display-name>Hello Servlet</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.jsp</welcome-file>
    <welcome-file>default.htm</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>Hello</display-name>
    <servlet-name>Hello</servlet-name>
    <servlet-class>hello.Hello</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Hello</servlet-name>
    <url-pattern>/Hello</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Controller</display-name>
    <servlet-name>Controller</servlet-name>
    <servlet-class>controller.Controller</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Controller</servlet-name>
    <url-pattern>/Controller</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Cadastro</display-name>
    <servlet-name>Cadastro</servlet-name>
    <servlet-class>controller.Cadastro</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Cadastro</servlet-name>
    <url-pattern>/Cadastro</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Login</display-name>
    <servlet-name>Login</servlet-name>
    <servlet-class>controller.Login</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Login</servlet-name>
    <url-pattern>/Login</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RegisterLocation</display-name>
    <servlet-name>RegisterLocation</servlet-name>
    <servlet-class>controller.RegisterLocation</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RegisterLocation</servlet-name>
    <url-pattern>/RegisterLocation</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>HasLocation</display-name>
    <servlet-name>HasLocation</servlet-name>
    <servlet-class>controller.HasLocation</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>HasLocation</servlet-name>
    <url-pattern>/HasLocation</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>IsLogged</display-name>
    <servlet-name>IsLogged</servlet-name>
    <servlet-class>controller.IsLogged</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>IsLogged</servlet-name>
    <url-pattern>/IsLogged</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteLocation</display-name>
    <servlet-name>DeleteLocation</servlet-name>
    <servlet-class>controller.DeleteLocation</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteLocation</servlet-name>
    <url-pattern>/DeleteLocation</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteLocal</display-name>
    <servlet-name>DeleteLocal</servlet-name>
    <servlet-class>controller.DeleteLocal</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteLocal</servlet-name>
    <url-pattern>/DeleteLocal</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AlterLocation</display-name>
    <servlet-name>AlterLocation</servlet-name>
    <servlet-class>controller.AlterLocation</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AlterLocation</servlet-name>
    <url-pattern>/AlterLocation</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AlterLocal</display-name>
    <servlet-name>AlterLocal</servlet-name>
    <servlet-class>controller.AlterLocal</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AlterLocal</servlet-name>
    <url-pattern>/AlterLocal</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>EditLocal</display-name>
    <servlet-name>EditLocal</servlet-name>
    <servlet-class>controller.EditLocal</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EditLocal</servlet-name>
    <url-pattern>/EditLocal</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>toAlterPassword</display-name>
    <servlet-name>toAlterPassword</servlet-name>
    <servlet-class>controller.toAlterPassword</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>toAlterPassword</servlet-name>
    <url-pattern>/toAlterPassword</url-pattern>
  </servlet-mapping>
</web-app>