<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd" id="WebApp_ID" version="6.0">
  <display-name>Hello Servlet</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.jsp</welcome-file>
    <welcome-file>default.htm</welcome-file>
  </welcome-file-list>
  <!-- Defina seu filtro CorsFilter -->
    <filter>
        <filter-name>CorsFilter</filter-name>
        <filter-class>controller.CorsFilter</filter-class>
        <!-- Configuração do parâmetro de inicialização -->
        <init-param>
            <param-name>cors.allowed.origins</param-name>
            <param-value>http://localhost:5500</param-value>
        </init-param>
    </filter>

    <!-- Mapeamento do filtro CorsFilter -->
    <filter-mapping>
        <filter-name>CorsFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>
  <servlet>
    <description></description>
    <display-name>Hello</display-name>
    <servlet-name>Hello</servlet-name>
    <servlet-class>hello.Hello</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Hello</servlet-name>
    <url-pattern>/Hello</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Controller</display-name>
    <servlet-name>Controller</servlet-name>
    <servlet-class>controller.Controller</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Controller</servlet-name>
    <url-pattern>/Controller</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Cadastro</display-name>
    <servlet-name>Cadastro</servlet-name>
    <servlet-class>controller.Cadastro</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Cadastro</servlet-name>
    <url-pattern>/Cadastro</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Login</display-name>
    <servlet-name>Login</servlet-name>
    <servlet-class>controller.Login</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Login</servlet-name>
    <url-pattern>/Login</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RegisterLocation</display-name>
    <servlet-name>RegisterLocation</servlet-name>
    <servlet-class>controller.RegisterLocation</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RegisterLocation</servlet-name>
    <url-pattern>/RegisterLocation</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>HasLocation</display-name>
    <servlet-name>HasLocation</servlet-name>
    <servlet-class>controller.HasLocation</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>HasLocation</servlet-name>
    <url-pattern>/HasLocation</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>IsLogged</display-name>
    <servlet-name>IsLogged</servlet-name>
    <servlet-class>controller.IsLogged</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>IsLogged</servlet-name>
    <url-pattern>/IsLogged</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CorsFilter</display-name>
    <servlet-name>CorsFilter</servlet-name>
    <servlet-class>controller.CorsFilter</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CorsFilter</servlet-name>
    <url-pattern>/CorsFilter</url-pattern>
  </servlet-mapping>

</web-app>